app-test:
  enable: true  
  name: "Default Application for tests"
  key: "app-key"
  secret: "secret"
  options: { client-messages: true, statistic: false }
  channels: [ public, private, presence ]
  origins: [ ]
  hook:
    trigger:
        - register # hook on register channel
        - unregister # hook on unregister channel
        - join # hook on subscribe to channel
        - leave # hook on leave channel
        - push # hook on subscriber push message to channel, may be increase message delivery latency
    http-pipelining: false
    endpoint:
#        - http://127.0.0.1:6002/
#        - lua://modules/hook.lua
